Package: vhsm
Version: 0.1
Architecture: amd64
Maintainer: virtual-hsm team <virtual-hsm@lists.osll.spb.ru>
Depends: libcrypto++8, libprotobuf6, vzctl, sqlite3
Section: utils
Priority: optional
Installed-Size: 2457
Homepage: http://redmine.osll.spb.ru/projects/vhsm
Description: virtual HSM
 Virtual HSM is software package desigend to store secret data and compute
 cryptographic functions using the secrets out of virtual environment.
